@use '/node_modules/bulma/sass/utilities/mixins.sass';
@use '/node_modules/bulma/sass/utilities/initial-variables.sass';

body {
  .layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

    header.layout-hero {
      > section {
        background-image: url('/images/background.png');
        background-position: center 37%;
        background-repeat: no-repeat;
      }
    }

    main.layout-main {
      margin-bottom: auto;
    }

    footer.layout-footer {
      padding: 3rem 1.5rem !important;
      text-align: center;
    }
  }
}
