@use '/node_modules/bulma/sass/utilities/mixins.sass';
@use '/node_modules/bulma/sass/utilities/initial-variables.sass';

.id {
  nav[class*='breadcrumb'] {
    ul {
      flex-wrap: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .share-button {
    background: transparent;
    /* stylelint-disable-next-line declaration-property-value-disallowed-list */
    border: none;
    color: hsl(0deg, 0%, 21%);
    cursor: pointer;
    font-size: 1.25rem;
  }

  h1 {
    -webkit-box-orient: vertical;
    /* stylelint-disable-next-line value-no-vendor-prefix */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    padding-bottom: 0.14em;
  }

  div[class*='image-gallery-content']:not([class*='fullscreen']) {
    .thumb-image-container {
      min-height: 50px;

      img {
        color: transparent;
      }
    }

    div[class*='image-gallery-slide-wrapper'] {
      min-height: 300px;

      .main-image-container {
        img {
          color: transparent;
          height: 500px;
          width: 500px;

          @include mixins.until(initial-variables.$desktop) {
            height: auto;
          }
        }
      }
    }
  }

  .label {
    display: inline;
  }

  div[class*='content'] p:not(:last-child) {
    margin-bottom: 0.5em;
  }
}
