@use '/node_modules/bulma/sass/utilities/mixins.sass';
@use '/node_modules/bulma/sass/utilities/initial-variables.sass';

.index {
  .columns {
    &:last-child {
      @include mixins.until(initial-variables.$tablet) {
        display: flex;
        flex-direction: column-reverse;
      }
    }

    .left-column {
      details {
        margin: 0 auto;
        margin-bottom: 0.5rem;
        overflow: hidden;

        summary {
          cursor: pointer;
          display: block;
          padding-left: 1.25rem;
          position: relative;

          &::before {
            border-color: transparent transparent transparent #000;
            border-style: solid;
            border-width: 0.4rem;
            content: '';
            left: 0.2rem;
            position: absolute;
            top: 0.33rem;
            transform: rotate(0);
            transform-origin: 0.2rem 50%;
            transition: 0.25s transform ease;
          }
        }

        &[open] > summary::before {
          transform: rotate(90deg);
        }

        span[class*='icon'] {
          vertical-align: text-top;
        }

        svg {
          font-size: 14px;
        }
      }

      .left-column-button-reset {
        path {
          stroke: #fff;
        }
      }
    }

    .right-column {
      .right-column-top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-top: -2px;

        .right-column-top-left {
          span {
            vertical-align: middle;
          }
        }

        .right-column-top-right {
          span {
            vertical-align: middle;
          }
        }
      }

      .cards {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-around;

        .card {
          display: flex;
          flex-direction: column;
          width: 160px;

          > * {
            flex: 1;
          }

          figure.card-image-container {
            border-radius: 0.25rem;
            display: flex;
            flex-direction: column;
            height: 160px;
            justify-content: center;
            overflow: hidden;
            position: relative;
            text-align: center;

            img.card-image-container-background {
              color: transparent;
              display: block;
              filter: blur(4px);
              height: 100%;
              object-fit: cover;
              position: absolute;
              top: 50%;
              transform: translateY(-50%);
              width: 100%;
              z-index: 0;
            }

            img.card-image-container-main {
              color: transparent;
              height: 100%;
              object-fit: contain;
              width: 100%;
              z-index: 1;
            }
          }

          /* stylelint-disable-next-line order/order */
          @include mixins.until(initial-variables.$tablet) {
            width: 140px;

            figure.card-image-container {
              height: 140px;
            }
          }

          div[class*='card-content'] {
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0.75rem;

            h2 {
              -webkit-box-orient: vertical;
              /* stylelint-disable-next-line value-no-vendor-prefix */
              display: -webkit-box;
              -webkit-line-clamp: 2;
              overflow: hidden;
              padding-bottom: 0.14em;
              text-align: center;
            }
          }

          div[class*='card-footer'] {
            div[class*='card-footer-item'] {
              display: flex;
              flex-direction: column;
              font-size: 0.75rem;
              padding: 0.5rem;

              span {
                -webkit-box-orient: vertical;
                /* stylelint-disable-next-line value-no-vendor-prefix */
                display: -webkit-box;
                font-size: 0.75rem;
                -webkit-line-clamp: 1;
                overflow: hidden;
                word-break: break-all;
              }

              svg,
              img {
                font-size: 1rem;
                width: 1rem;
              }
            }
          }
        }
      }
    }
  }
}
